body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #00a14b;
}

h1 {
    color: #333;
}

#scores {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    margin-bottom: 20px;
}
.date-picker {
    text-align: center;
    margin: 20px 0;
}

.date-picker input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.date-picker button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.date-picker button:hover {
    background-color: #0056b3;
}
